<h3><%= @recipe.name %></h3>
<form action="/recipe/<%= params[:id] %>/edit/ingredient" method="post">
  <label for="ingredient">Add Ingredient</label>
  <input name="ingredient" id="ingredient">
  <button type="submit">submit</button>
</form>

<ul>
  <% @recipe.ingredients.each do |id, ingredient| %>
    <li><%= ingredient %></li>
    <form acrion="/recipe/<%= params[:id] %>/edit/ingredient/<%= id %>/delete" method="post">
      <button type="submit">Delete</button>
    </form>
  <% end %>
</ul>
