<h3><%= @deck.name %></h3>
<a href="/<%= session[:username] %>/decks/<%= params[:id] %>/edit">Edit deck name</a>

<a href="/<%= session[:username] %>/decks/<%= params[:id] %>/flashcard/new">Create flashcard</a>
