<p>Welcome, <%= session[:username] %></p>
<ul>
  <% @decks.each do |deck| %>
    <li><a href="/<%= session[:username] %>/<%= deck %>"><%= deck %></a></li>
  <% end %>
</ul>
<a href="/<%= session[:username] %>/decks/new">Create a new deck</a>
<form action="/signout" method="post">
  <button type="submit">Sign out</button>
</form>

