<h3><%= @deck.name %></h3>
<ul>
<li><a href="/<%= session[:username] %>/decks/<%= params[:id] %>/edit">Edit deck name</a></li>

<li><a href="/<%= session[:username] %>/decks/<%= params[:id] %>/flashcard/new">Create flashcard</a></li>

<li><a href="/<%= session[:username] %>/decks/<%= params[:id] %>/flashcards">View All flashcards</a></li>

<li><a href="/<%= session[:username] %>/decks">View decks</a></li>

<li><a href="/<%= session[:username] %>/decks/<%= params[:id] %>/study">Study now</a>
</ul>
