<h3>All Flashcards</h3>
<% @deck.each do |id, flashcard| %>
  <ul>
    <li>Front: <%= flashcard.front %></li>
    <li>Back: <%= flashcard.back %></li>
    <a href="/<%= session[:username] %>/decks/<%= params[:id] %>/flashcard/<%= id %>">Edit</a>
    <a href="/<%= session[:username] %>/decks/<%= params[:id] %>/flashcard/<%= id %>/delete">Delete</a>
  </ul>
<% end %>
