<h3>All Flashcards</h3>
<% @deck.each do |id, flashcard| %>
  <ul>
    <li>Front: <%= flashcard.front %></li>
    <li>Back: <%= flashcard.back %></li>
    <a href="/<%= session[:username] %>/decks/<%= params[:id] %>/flashcard/<%= id %>">Edit</a>
    <form action="/<%= session[:username] %>/decks/<%= params[:id] %>/flashcard/<%= id %>/delete" method="post">
      <button type="submit">Delete</button>
    </form>
  </ul>
<% end %>
<a href="/<%= session[:username] %>/decks/<%= params[:id] %>">Go back</a>
