<p><%= session[:username] %>'s contacts</p>
<div class="inline-container">
  <form action="/<%= session[:username] %>/sortby" method="post">
    <label for="sortby">Sort by:</label> 
    <button type="submit" id="sortby" name="sortby" value="name">Name</button>
    <button type="submit"id="sortby" name="sortby" value="group">Group</button>
  </form>
</div>

<div>
  <% sort_contacts(@contacts) do |id, contact| %>
    <ul>
      <% contact.details.each do |detail| %>
        <% next if detail.empty? %>
        <li><%= detail %>
      <% end %>
      <form action="/<%= session[:username] %>/<%= id %>/delete" method="post">
        <button type="submit">Delete</button>
      </form>
      <a href="/<%= session[:username] %>/<%= id %>/edit">Edit</a>
    </ul>
  <% end %>
</div>

<a href="<%= session[:username] %>/contact">Add contact</a>

<form action="/signout" method="post">
  <button type="submit">Sign out</button>
</form>
