<p>Edit Contact's details</p>

<form action="/<%= session[:username] %>/<%= params[:id] %>" method="post">
  <div>
    <label for="fname">First name:</label>
    <input name="fname" id="fname" value="<%= params[:fname] || @contact.fname %>">
  </div>

  <div>
    <label for="lname">Last name:</label>
    <input name="lname" id="lname" value="<%= params[:lname] || @contact.lname %>">
  </div>

  <div>
    <label for="phone">Phone number:</label>
    <input name="phone" id="phone" type="tel" value="<%= params[:phone] || @contact.phone %>">
  </div>

  <div>
    <label for="email">Email:</label>
    <input name="email" id="email" value="<%= params[:email] || @contact.email %>">
  </div>

  <div>
    <label for="group">Group:</label>
    <input name="group" id="group" placeholder="Work, friend, family, etc." value="<%= params[:group] || @contact.group %>">
  </div>

  <button type="submit">Submit</button>
</form>
